Question 1
code to reverse a string

In [ ]:
str1=input("enter the string to be reversed : ")
str1=str1[::-1]
print(str1)

enter the string to be reversed : DARSHAN
NAHSRAD

Question 2) Count the no of vowels

In [ ]:
str1=input("enter the string : ")
count=0
for i in str1:
  if(i=='a'or i=='e'or i=='i'or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    count+=1
print(count)

enter the string : Darshan
2

**bold text**Question 3) To check palindrome

In [ ]:
str2=input("enter the string : ")
str3=str2[::-1]
print(str2==str3)

enter the string : Darshan
False

Question 4) Code to check if given strings are anagram

In [ ]:
str4=input("enter the string1 : ")
str5=input("enter the string2 : ")
str4=sorted(str4)
str5=sorted(str5)
print(str4==str5)

enter the string1 : abc
enter the string2 : cba
True

Question 5) to find occurence of a given substring within another string

In [ ]:
substr=input("enter the substring : ")
string=input(" enter the main string : ")
string.count(substr)

enter the substring : sha
 enter the main string : darshanshaaishushareethusha

4

Question 6) Code to perform basic string compression using the counts of repeted characters

In [ ]:
string_duplicate=input("enter the string to be compressed : ")
soriginal=""
set1={}
set1=set(set1)
for i in string_duplicate:
  set1.update(i)
for i in set1:
  soriginal+=i
print(soriginal)

enter the string to be compressed : darshan
snhrad

Question 7) Code to check if the given string contains unique characters

In [ ]:
string_duplicate=input("enter the string to be compressed : ")
set1={}
set1=set(set1)
for i in string_duplicate:
  set1.update(i)
print(len(set1)==len(string_duplicate))

enter the string to be compressed : darshn
True

Question 8) converting a given string to uppercase or lowercase

In [ ]:
stringr=input("enter the string : ")
stringr=stringr.upper()
print(stringr)

enter the string : darshan
DARSHAN

Question 9) Code to count number of words in a given string

In [ ]:
string=input("Enter the string : ")
list1=list(string.split(' '))
print(len(list1))

Enter the string : hi mysely darshan R pursuing btech from nit silchar assam
10

Question  10) concatination without using + operator

In [ ]:
string1=input(" enter the string1 : ")
string2=input(" enter the string2 : ")
string2="".join([string1,string2])
print(string2)

 enter the string1 : darsh
 enter the string2 : an R
darshan R

Question 11) Removing all occurence of specific element from list

In [ ]:
list1=[1,2,3,4,5,1,1,1,1]
item=1
list1=[i for i in list1 if i!=item]
print(list1)
#using filter
list1=[1,2,3,4,5,1,1,1,1]
item=1
list1=list(filter(lambda x: x!=item,list1))
print(list1)

[2, 3, 4, 5]

Question 12) Code to find the second largest in a list

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list1=sorted(list1)
max1=list1[len(list1)-1]
max2=list1[len(list1)-2]
print(max1,max2)

9 8

Question 13)count the occurrense of elements in the list

In [ ]:
dict1={}
list1=[1,2,3,4,5,1,2,1,2,3,4,5,6,6,6,4]
for i in list1:
  if i not in dict1 :
    dict1[i]=0
    dict1[i]+=1
  else:
    dict1[i]+=1
print(dict1)

{1: 3, 2: 3, 3: 2, 4: 3, 5: 2, 6: 3}

Question 14) Code to reverse a list without using built in function

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
list1=list1[::-1]
print(list1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Question 15) removing duplicate elements while preserving the order

In [ ]:
list1=[1,2,1,3,3,2,1,4,5,6]
dict1={}
dict1=set(dict1)
for i in list1:
  if i not in dict1:
    dict1.add(i)
  else:
    list1.pop(list1.index(i))
print(list1)

[1, 3, 3, 2, 1, 4, 5, 6]

Question 16) Check if the given list is sorted or not

In [ ]:
list1=[5,4,2,3,1]

flag1=(list1==sorted(list1))
list1.reverse()
flag2=(list1==sorted(list1))
flag1 or flag2

False

Question 17)Merge 2 sortede list into a single sorted list

In [ ]:
list1=[1,3,5,7]
list2=[2,4,6]
list1=sorted(list1+list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

Question 18 code to find intersection of 2 lists

In [ ]:
list1=[1,2,3,4,5,6,7]
list2=[2,4,6,8]
list3=[]
set1={}
set1=set(set1)
if len(list1)<=len(list2):
    set1=set(list1)
    for i in list2:
      if i in set1:
        list3.append(i)
else:
  set1=set(list2)
  for i in list1:
      if i in set1:
        list3.append(i)
print(list3)

[2, 4, 6]

Question 19) To find union of 2 list without duplicate

In [ ]:
list1=[1,2,3,4,5,1,6,7]
list2=[2,4,2,6,8]
set1={}
set1=set(set1)
set1=set(list1)
set1.update(list2)
print(set1)
list3=[]
for i in set1:
  list3.append(i)
print(list3)

{1, 2, 3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7, 8]

Question 20) shuffle the list without using any built in shuffle function

In [ ]:
import random as ra
list1=[1,2,3,4,5,6,7]
list1=sorted(list1,key=lambda x : random.random())
print(list1)

[7, 5, 6, 4, 1, 3, 2]

Question 21) Intersection of two tuples

In [ ]:
#acutally we cannot return new tuple as tuple are immutable
t1=(1,2,3,4,'ajay',3+2j,1+1j,True)
t2=(1,2,'ajay',3+2j,5,True)
#default t1 is of higher length
def intersection(t1=(),t2=()):
  t3=set(())
  for i in t1:
    for j  in t2:
      if i==j:
        t3.add(i)
  return t3
intersection(t1,t2)

{(3+2j), 1, 2, 'ajay'}

Question 22) Intersection of two sets

In [ ]:
s1={}
s2={}
s1=set(s1)
s2=set(s2)
n1=int(input("enter the size of 1st set :"))
n2=int(input("enter the size of 2nd set : "))
for i in range(n1):
  a=int(input())
  s1.add(a)
for i in range(n2):
  a=int(input())
  s2.add(a)
print(s1&s2)

enter the size of 1st set :5
enter the size of 2nd set : 7
1
1
2
2
3
1
2
3
4
5
1
1
{1, 2, 3}

Question 23) concatination of 2 tuples

In [ ]:
def concat(t1,t2):
  t3=(t1,t2)
  return t3
concat((1,2,3),(2,3,4,5))

((1, 2, 3), (2, 3, 4, 5))

Question 24) Print the elements that are present in first string but not in second

In [ ]:
s1=input("enter the first string : ")
s2=input('enter the second string : ')
s3=""
for i in s1:
  if i not in s2:
    s3+=i
print(s3)

enter the first string : darshan
enter the second string : devika
rshn

Question 25) operation on tuples

In [1]:
a=input("enter the values of tuple : ")
a=tuple(int(x) for x in a.split(","))
n1=int(input("enter the value of ist index : "))
n2=int(input("enetr the value of 2nd index : "))
t3=a[n1:n2+1]
print(t3)

enter the values of tuple : 1,2,3,1,4,5,6
enter the value of ist index : 1
enetr the value of 2nd index : 5
(2, 3, 1, 4, 5)

Question 26) union of two set of characters

In [2]:
s1={}
s2={}
s1=set(s1)
s2=set(s2)
n1=int(input("enter the size of 1st set :"))
n2=int(input("enter the size of 2nd set : "))
for i in range(n1):
  a=(input())
  s1.add(a)
for i in range(n2):
  a=(input())
  s2.add(a)
print(s1&s2)

enter the size of 1st set :5
enter the size of 2nd set : 4
a
b
c
d
e
c
d
e
d
{'e', 'd', 'c'}

Question 27) Tuple unpacking

In [3]:
t1=(1,2,3,6,5,4)
def min_max(t=()):
  t3=tuple(filter(lambda x:x==min(t1) or x==max(t1),t1))
  return t3
min_max(t1)

(1, 6)

Question 28) operation on sets

In [4]:
s1={1,2,3,4,5,5,1}
s2={2,4,1,7,8,9}
print("intersection of two sets")
print(s1&s2)
print("union of 2 sets")
print(s1|s2)
print("difference")
print(s1-s2)

intersection of two sets
{1, 2, 4}
union of 2 sets
{1, 2, 3, 4, 5, 7, 8, 9}
difference
{3, 5}

Question 29) count of element in tuple

In [10]:
t1=(1,2,3,4,5,6,7,7,5,4,4)
def count(t1=(),a=0):
  return t1.count(a)
count(t1,4)

3

question 30) Symmetric difference of 2 strings

In [12]:
s1=input("enter the first string : ")
s2=input("enter the second string : ")
s3=""

for i in s1:
  if i not in s2:
    s3+=i
for i in s2:
  if i not in s1:
    s3+=i
print(s3)

enter the first string : devika
enter the second string : darshan
evikrshn

Question 31) code that merges 2 dictionaries

In [7]:
words=[]
n=int(input("eneter the size : "))
for i in range(n):
  a=input()
  words.append(a)
d={}
for i in words:
  if i not in d:
    d[i]=1
  else :
    d[i]+=1
print(d)

eneter the size : 5
sha
vai
sha
vai
sha
{'sha': 3, 'vai': 2}

question 32) merging of 2 dictionaries

In [14]:
d1={1:"first",2:"second",3:"third",4:"fourth"}
d2={2:"second",4:"fourth",5:"fifth"}
def merge(d1={},d2={}):
  for i in d1:
    if i not in d2:
      d2.update({i:d1[i]})
    else:
      d2[i]+=d1[i]
merge(d1,d2)
print(d2)

{2: 'secondsecond', 4: 'fourthfourth', 5: 'fifth', 1: 'first', 3: 'third'}

Question 33) nestd dictinories

In [34]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
l1=["child5","child3","child7"]
count=0
def nested_dict(d={},l=[],count=0):
    for i in l:
     if i not in d:
      count=count+1
     elif count==len(l):
      return None
     else:
      print(d[i])

nested_dict(myfamily,l1,0)

{'name': 'Linus', 'year': 2011}

Question 34) Sorting dictionaries

In [37]:
d1={1:"first",2:"second",3:"third",4:"fourth"}
list_keys=sorted(d1.values)
sorted_dict={i}

AttributeError: 'dict' object has no attribute 'sorted'